kafka:
  producer:
    transactions_per_second: 100
    burst_mode: true
    burst_interval_seconds: 30
    burst_multiplier: 5.0
    bootstrap_servers: "${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}"
    client_id: "fraud-detection-producer"
    compression_type: "snappy"
    linger_ms: 10
    batch_size: 32768
    acks: 1

  consumer:
    bootstrap_servers: "${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}"
    group_id: "fraud-detection-consumer-group"
    auto_offset_reset: "earliest"
    enable_auto_commit: true
    client_id: "fraud-detection-consumer"

fraud_generator:
  max_transaction_time: 172800
  fraud_rate: 0.005
  topic: "transactions"
  transactions_per_second: 100
  burst_mode: true
  burst_interval_seconds: 30
  burst_multiplier: 5.0

model:
  train_ratio: 0.8
  val_ratio: 0.2
  type: "random_forest"
  params:
    random_forest:
      n_estimators: 100
#      max_depth: 40
      min_samples_split: 10
      min_samples_leaf: 5
#      max_features: "sqrt"
    xgboost:
      n_estimators: 300
      max_depth: 30
      learning_rate: 0.1
      scale_pos_weight: 100
      min_child_weight: 5
      random_state: 42
      n_jobs: -1
      eval_metric: "aucpr"
    decision_tree:
      criterion: entropy
      max_depth: 6
      min_samples_split: 5
      min_samples_leaf: 3
      random_state: 42

imbalance:
  method: smote
  sampling_strategy: 0.6
  random_state: 42

preprocessor:
  features_to_keep:
    - Time
    - Amount
    - hour_of_day
    - hour_risk_score
    - time_normalized
    - amount_z_score
    - is_small_amount
    - is_very_small_amount
    - is_large_amount
    - is_very_large_amount
    - distance_from_fraud_median
    - distance_from_fraud_mean
    - in_small_fraud_zone
    - in_large_fraud_zone
    - fraud_amount_similarity
  features_to_scale:
    - V1
    - V2
    - V3
    - V4
    - V5
    - V6
    - V7
    - V8
    - V9
    - V10
    - V11
    - V12
    - V13
    - V14
    - V15
    - V16
    - V17
    - V18
    - V19
    - V20
    - V21
    - V22
    - V23
    - V24
    - V25
    - V26
    - V27
    - V28

evaluation:
  primary_metric: "recall"
  metrics:
    - precision
    - recall
    - f1
    - pr_auc
  threshold: 0.5

tuner:
  hyperparameter_tuning:
    strategy: "random_search"
    cv: 5
    n_jobs: -1
    verbose: 2
    random_state: 42
  param_grid:
    grid_search:
      class_weight: [balanced]
      max_depth: [2, 3, 4]
      min_samples_split: [2, 5, 10]
      min_samples_leaf: [1, 2, 5]
    random_search:
      n_iter: 100
      random_forest:
        min_samples_split: [5, 7, 10]
        min_samples_leaf: [5, 10, 15]
#        max_features: [sqrt, log2]
        n_estimators: [100, 150]
      xgboost:
        n_estimators: [200, 300]
        max_depth: [20, 30, 40]
        min_child_weight: [1, 3, 5]
        learning_rate: [0.05, 0.1]
        scale_pos_weight: [50, 100, 200, 300]


output:
  model_path: "models/"
  report_path: "reports/"

mlflow:
  url: "http://localhost:5001"
  bucket_path: "s3://mlflow/artifacts/3/models"

aws:
  credentials:
    access_key_id: ${AWS_ACCESS_KEY_ID}
    secret_access_key: ${AWS_SECRET_ACCESS_KEY}
  region: ${AWS_DEFAULT_REGION}
  s3:
    bucket_name: ${AWS_BUCKET_NAME}

data:
  raw:
    local: "../../data/raw/creditcard.csv"
    s3: "raw/creditcard.csv"

api:
  fraud_detection:
    model:
      id: "m-6a52c09913e74a22aece0cbae63c1e5b"
    kafka:
      listener_toggle: true
      topic: "transactions"
      decision_topic: "transaction-decisions"
      fraud_alerts_topic: "fraud-alerts"
